In [3]:
import numpy as np
import pandas as pd
import matplotlib as mat
import seaborn as sb

In [4]:
df = pd.read_csv(r'C:\Users\amit9\Desktop\Insurance project\mock_insurance_claims_data.csv')

In [33]:
df.head()

,claim_id,customer_id,claim_date,claim_amount,approval_status,region,processing_time_days,risk_category,insurance_type
0,1001,257,2022-05-16,49010.10,Approved,North,15,High,Home
1,1002,212,2024-01-11,8917.52,Approved,South,28,Low,Auto
2,1003,340,2023-08-08,22649.94,Rejected,West,10,Low,Auto
3,1004,325,2023-08-14,35577.70,Rejected,East,7,Low,Auto
4,1005,314,2023-04-30,28484.44,Rejected,West,13,Low,Auto

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   claim_id              200 non-null    int64
 1   customer_id           200 non-null    int64
 2   claim_date            200 non-null    object
 3   claim_amount          200 non-null    float64
 4   approval_status       200 non-null    object
 5   region                200 non-null    object
 6   processing_time_days  200 non-null    int64
 7   risk_category         200 non-null    object
 8   insurance_type        200 non-null    object
dtypes: float64(1), int64(3), object(5)
memory usage: 14.2+ KB

In [6]:
pd.isnull(df).sum()

claim_id                0
customer_id             0
claim_date              0
claim_amount            0
approval_status         0
region                  0
processing_time_days    0
risk_category           0
insurance_type          0
dtype: int64

In [7]:
df['claim_date'] = pd.to_datetime(df['claim_date'])

In [8]:
df['claim_year'] = df['claim_date'].dt.year
df['claim_month'] = df['claim_date'].dt.month

In [9]:
df['is_high_value'] = df['claim_amount'] > 40000
df['fast_processing'] = df['processing_time_days'] < 5

In [45]:
df.head()

,claim_id,customer_id,claim_date,claim_amount,approval_status,region,processing_time_days,risk_category,insurance_type,claim_year,claim_month,is_high_value,fast_processing
0,1001,257,2022-05-16,49010.10,Approved,North,15,High,Home,2022,5,True,False
1,1002,212,2024-01-11,8917.52,Approved,South,28,Low,Auto,2024,1,False,False
2,1003,340,2023-08-08,22649.94,Rejected,West,10,Low,Auto,2023,8,False,False
3,1004,325,2023-08-14,35577.70,Rejected,East,7,Low,Auto,2023,8,False,False
4,1005,314,2023-04-30,28484.44,Rejected,West,13,Low,Auto,2023,4,False,False

In [11]:
monthly_claims = df.groupby(['claim_year', 'claim_month']).size().reset_index(name='total_claims')

print(monthly_claims.head())

   claim_year  claim_month  total_claims
0        2022            1             5
1        2022            2             8
2        2022            3            12
3        2022            4            11
4        2022            5             7

In [12]:
approval_counts = df['approval_status'].value_counts()
print(approval_counts)

approval_status
Approved    130
Rejected     49
Pending      21
Name: count, dtype: int64

In [30]:
claim_region = df['region'].value_counts()
print(claim_region)

region
South    59
North    51
West     51
East     39
Name: count, dtype: int64

In [34]:
claim_region1 = df['region'].count()
print(claim_region)

200

In [35]:
risk_distribution = df['risk_category'].value_counts()
print(risk_distribution)

risk_category
Low       104
Medium     63
High       33
Name: count, dtype: int64

In [48]:
avg_processing = df.groupby('insurance_type')['processing_time_days'].mean().reset_index()
print(avg_processing)

  insurance_type  processing_time_days
0           Auto             18.830508
1         Health             15.177778
2           Home             14.454545
3           Life             16.000000

In [49]:
df.to_csv("cleaned_insurance_claims.csv", index=False)

In [60]:
df.head()
df.columns

Index(['claim_id', 'customer_id', 'claim_date', 'claim_amount',
       'approval_status', 'region', 'processing_time_days', 'risk_category',
       'insurance_type', 'claim_year', 'claim_month', 'is_high_value',
       'fast_processing'],
      dtype='object')

In [61]:
df.to_csv("cleaned_insurance_claims.csv", index=False)

In [62]:
test_df = pd.read_csv("cleaned_insurance_claims.csv")
print(test_df.columns)
print(test_df.head())

Index(['claim_id', 'customer_id', 'claim_date', 'claim_amount',
       'approval_status', 'region', 'processing_time_days', 'risk_category',
       'insurance_type', 'claim_year', 'claim_month', 'is_high_value',
       'fast_processing'],
      dtype='object')
   claim_id  customer_id  claim_date  claim_amount approval_status region  \
0      1001          257  2022-05-16      49010.10        Approved  North
1      1002          212  2024-01-11       8917.52        Approved  South
2      1003          340  2023-08-08      22649.94        Rejected   West
3      1004          325  2023-08-14      35577.70        Rejected   East
4      1005          314  2023-04-30      28484.44        Rejected   West

   processing_time_days risk_category insurance_type  claim_year  claim_month  \
0                    15          High           Home        2022            5
1                    28           Low           Auto        2024            1
2                    10           Low           Auto        2023            8
3                     7           Low           Auto        2023            8
4                    13           Low           Auto        2023            4

   is_high_value  fast_processing
0           True            False
1          False            False
2          False            False
3          False            False
4          False            False